/* body {
  text-align: center;
}


 .container-fluid{
  padding: 10px;
}

/* .top-container {
  align-items: center;
  justify-content: center;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Gruppenfoto {
  width: 30rem;
}

.container-fluid1 {
    width: 30rem;
} */


body {
  font-family:  'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Flags */

.germany {
  width: 1.5rem;
  position: relative;
  bottom: 0.2rem;
}

.poland {
 width: 1.5rem;
 position: relative;
 bottom: 0.2rem;
 /* position: absolute;
 right: 1rem; */
}

/* Headings */

.heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.5;
  color: #CDF0EA;
  /* color: #00ABB3; */
  /* color: #8BBCCC; */
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 5% 15%;
}

/* Sections */

.colored-section {
    background-color: #5C2E7E;
    color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: lighter;
  color: #8BBCCC;
}


.brand-name {
   /* color: #00ABB3;  */
   color: #8BBCCC;
  /* color: #00ABB3; */
}

.brand-name:hover {
  color:   #8BBCCC;
}
/* Title Section */

#title .container-fluid {
  padding: 3% 10% 7%;
  text-align: left;
}

.title-image {
  width: 40rem;
}

/* Feature Section */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 0 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Contact me section */

.bottom-section .container-fluid {
  padding-bottom: 0;
}


.contact-me {
  height: 100px;
}

.Telefon {
  margin: auto auto 20px auto;
}

.phone-img {
  width: 150px;

}

.email-img {
  width: 150px;
}

.contact-button {
  width: 61%;
  margin-bottom: 10px;

}

.rechteck {
  background-color: #fff;
  border: black 1px solid;
  width: 50%;
  height: 28rem;
  margin: 200px auto;
  font-size: 30px;
  text-align: center;
}

.Kontakt-daten {
  text-align: center;
  font-size: 25px;
}


.zurück-btn{

margin: 0 auto;

font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 25px; /* 14 */
color: #fff;
background-color: #0066CC;
padding: 10px 50px; /* 10 30 */
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.zurück-btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;
}



/* IMPRESSUM */

.impressum-link {
  
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  
}

.impressum-link:hover {
  color: #ba95d4;
}

/* IMPRESSUM HTML */

.impressum-h1 {
  color: #5C2E7E;
}

.impressum-txt {
  width: 60%;
  /* background: red; */
  margin: 0 auto;
  text-align: left;
}



